.admin-menu{
  @media (min-width: 992px) {
    min-height: 80vh;
  }
  background-color: #f8f9fa;
} 
.active{
  h5{
    color: #0d6efd !important;
  }
  background-color: #eeeeee;
}
.menu-item{
  h5{
    color: black;
  }
  &:hover{
  background-color: #eeeeee;
  }
}
